.main-pane-wrapper {
   width: 100%;
   overflow: hidden;
}

#sliding-window {
    height: $pane-height-mobile;
    width: 200%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.sub-pane-text {
    height: 100%;
    display: flex;
    align-items: center;
    width: 50%;
}

.sub-pane-text > * {
    margin: 0 auto;
    width: $text-pane-width;
    height: $text-pane-height; 
    padding: 3rem;
    border: 1px solid grey;
    background-color: white;
}

.sub-pane-text > textarea {
    resize: none;
    display: block;
}

#editor {
    max-width: 800px;
}

.sub-pane-editor {
    background-color: $sub-pane-editor-bg-color;
}

.sub-pane-preview {
    background-color: $sub-pane-preview-bg-color;
}

.sub-pane-button {
    height: $toggle-button-height;
}

div[class*="slide-"] {
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.slide-left {
    animation-name: slide-left;
}

.slide-right {
    animation-name: slide-right;
}

@keyframes slide-left {
    from {  
        transform: translateX(0%); 
    }
    to { 
        transform: translateX(-50%); 
    }
}

@keyframes slide-right {
    from { 
        transform: translateX(-50%); 
    }
    to { 
        transform: translateX(0%); 
    }
}

@media (min-width: 1200px) {
    #sliding-window {
        width: 100%;
    }

    @keyframes slide-left {
        from {  
            width: 100%;
        }
        to { 
            width: 200%;
        }
    }

    @keyframes slide-right {
        from { 
            width: 200%;
        }
        to { 
            width: 100%;
        }
    }
}